<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="/javascripts/login.js" defer></script>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <!-- hyperlinks to other pages -->
        <div class="section modal-container header-content">
            <!--<a href="/">Home</a>-->
            <a href="/add-course.html" target="_self">Add Course</a>
            <a href="/add-new-course.html" target="_self">Add New Course</a>
            <a href="/add-new-degree.html" target="_self">Add New Degree</a>
            <a href="/edit-course.html" target="_self">Edit Course</a>
        </div>
        <!-- login form -->
        <form>
            <div id="mainDiv" class="center container textsize">
                <!-- Email field -->
                <div class="center"><label>Email:</label></div></br>
                <div class="center"><input  v-model="email"  class="input" type="text"></input></div></br>
                <!-- Password field -->
                <div class="center"><label>Password: </label></div></br>
                <div class="center"><input  v-model="password" class="input" type="password"></input></div></br>
                <div class="center">
                    <button class="btn-reg" @click.prevent="login()"><div class="inside_button"> Sign In </div></button>
                    <button  class="btn-reg" @click.prevent="reg()"><div class="inside_button"> Create Account</div></button> 
                </div>
                <div class="center"><label>{{post_result}} </label></div></br>
            </div>
        </form>
    </body>
</html>